.featuresWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 40px;


.featureCard {
  // height: 480px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: none;
  // padding: 16px 8px;
  border: 1px solid var(--primary-color13);
}


.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;

  .firstCard {
    .cardwrapper {
      display: flex;
      // flex-wrap: wrap;
      justify-content: space-between;
      gap: 5px;

      .left {
        max-width: 150px;
        // width: 20%;

        h3 {
          font-size: 22px;
          font-weight: 700;
          color: #5b3fa4; 
          margin-bottom: 12px;
        }

        p {
          font-size: 16px;
          color: #606060;
          line-height: 1.6;
        }
      }

      .right {
        flex: 1;
        background: transparent;
        padding: 16px;
        border-radius: 8px;
        border: 1px solid #E2E8F0;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
        width: 80%;
        overflow-y: auto;

        .tabs {
          display: flex;
          justify-content: center;
          margin-bottom: 16px;
          border-radius: 6px;

          .tab {
            flex: 1;
            padding: 8px 0;
            font-size: 14px;
            font-weight: 600;
            background: var(--primary-color15);
            border: none;
            cursor: pointer;
            color: #555;
            transition: 0.3s;
          }

          .active {
            background: #5b3fa4;
            color: #fff;
            border-radius: 6px;
          }
        }

        .rightcardheading {
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;

          .subText {
            text-align: center;
            font-size: 16px;
            color: var(--primary-color2);
            margin: 0;
          }

          .price {
            font-size: 20px;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: var(--primary-color3);
          }
        }

        .rightform {

          .label {
            margin-top: 12px;
            margin-bottom: 8px;
            font-size: 14px;
            font-weight: 500;
            text-align: center;
            color: var(--primary-color2);
          }

          .input,
          .select {
            width: 100%; 
            background: transparent !important; 
            border-radius: 6px;
            height: 40px;
          }

          .select .ant-select-dropdown {
            background: transparent !important;
          }


          .input::placeholder,
          .select .ant-select-selector::placeholder {
            color: var(--primary-color2) !important;
          }

          .arrow {
            text-align: center;
            font-size: 24px;
            color: #666;
            font-weight: bold;
          }

          .balanceRow {
            display: flex;
            justify-content: space-between;
            font-size: 14px;
            margin-top: 8px;
            color: var(--primary-color2);

            a {
              color: var(--primary-color3);
            }
          }

          .fees {
            margin: 20px 0;
            font-size: 13px;
            text-align: center;
            color: var(--primary-color2);
          }

          .buyNow {
            width: 100%;
            background: var(--primary-color17);
            border: none;
            font-weight: 600;
            height: 40px;
            border-radius: 6px;
            color: white;
          }
        }


      }
    }

  }

  .secondCard {
    overflow: hidden;
    position: relative;

    .imageWrapper {
      position: relative;
      height: auto;

      .chartImage {
        display: block;
        width: 100%;
        height: 420px;
        object-fit: cover;
      }

      .overlayText {
        position: absolute;
        margin-top: -80px;
        left: 0;
        width: 100%;
        background: var(--primary-color5);

        h3 {
          margin: 0 0 4px 0;
          font-size: 20px;
          font-weight: 600;
          color: var(--primary-color3);
        }

        p {
          margin: 0;
          font-size: 18px;
          color: var(--primary-color2);
        }
      }
    }




  }

  .thirdCard {
    position: relative;

    .contentWrapper {
      text-align: start;

      h3 {
        font-size: 28px;
        font-weight: 700;
        color: var(--primary-color3);
        margin: 0;
      }

      p {
        font-size: 16px;
        color: var(--primary-color2);
        line-height: 1.6;
        text-align: justify;
        margin: 0;
        margin-bottom: 20px;
      }


    }

    .iconWrapper {
      display: flex;
      justify-content: space-between;
      margin-bottom: 12px;
      align-items: start;

      .featuresList {
        list-style: none;
        //   padding: 0;
        //   margin: 0;
        display: flex;
        justify-content: start;

        align-items: start;
        flex-direction: column;
        gap: 20px;

        .featureItem {
          display: flex;
          align-items: center;
          gap: 16px;
          img {
            width: 40px;
          }
        }

        .divider {
          width: 1px;
          height: 40px;
          background-color: #1AC3FB;
        }

        .textBlock {
          display: flex;
          flex-direction: column;

          .heading {
            font-weight: 600;
            font-size: 15px;
          }

          .subheading {
            font-size: 13px;
            color: var(--primary-color16);
            margin: 0;
          }
        }
      }
    }


  }
}

.rowCustom {
  display: grid;
  grid-template-columns: 40% 59%;
  gap: 16px;

  .leftCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h3 {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 12px;
      color: var(--primary-color3);
      margin-top: 0;

    }

    p {
      font-size: 16px;
      color: var(--primary-color2);
      margin-top: 0;
      margin-bottom: 40px;
    }

    .chartss {
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-content: center;
      margin-bottom: 20px;

      .largeChart {
        margin: auto;
      }

      .miniCharts {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;

        .miniChartItem {
          display: flex;
          justify-content: space-around;
          align-items: center;
          gap: 8px;

          .miniChartLabel {
            text-align: center;
            font-size: 13px;

            div {
              color: var(--primary-color2);
            }

            strong {
              display: block;
              font-size: 16px;
              color: var(--primary-color3);
            }
          }
        }
      }
    }



  }

  .rightCard {
    .priceSection {
      margin-bottom: 30px;

      .priceRow {
        display: flex;
        justify-content: space-between;
        align-items: center;

        span {
          display: flex;
          align-items: center;
          color: var(--primary-color3);
          font-size: 16px;
          gap: 8px;

          img {
            width: 40px;
            height: auto;
          }
        }
      }
    }

    h2 {
      font-weight: bold;
      color: var(--primary-color3);
      font-size: 24px;
      margin: 0;
    }

    h4 {
      font-size: 18px;
      color: var(--primary-color2);
      font-weight: normal;
      margin: 0;
    }
  }
}
}